<ion-header>
  <ion-toolbar>
    <ion-title>
      Introduzione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/PanFin.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Che cosa offriamo</ion-card-subtitle>
        <ion-card-title>Musica Mattia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dove la musica viene alla vita! Visto che dimostri il tuo interesse, ora puoi iniziare a studiare davvero, guarda i corsi che offriamo!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Per saperne di piu'...</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>La nostra tradizione</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="musical-notes"></ion-icon>
        <ion-label>Piu' contenuti</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="globe"></ion-icon>
        <ion-label>Come trovarci</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="medal"></ion-icon>
        <ion-label>Il tuo diploma</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
